.app-header {

  button {
    margin: 0 16px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .mat-toolbar {
    background-color: black;
    color: white;
    padding: 0 256px;
  }

  .mat-mdc-outlined-button:not(:disabled) {
    border-color: white;
  }

  .firstButton {
    padding: 0 40px 0 0;
  }

  .secondButton {
    margin: 0 16px 0 0;
  }

  .user {
    position: relative;
    right: 10px;
    top: 10px;
    right: 5px;
  }
}
